# File: .github/workflows/workflow.yml

on: workflow_dispatch

name: Run Azure Login With a Service Principal Secret

jobs:

  build-and-deploy:
    runs-on: windows-latest
    steps:

    - name: Azure Login
      uses: azure/login@v1
      with:
       creds: ${{ secrets.AZURE_CREDENTIALS }}
