name: solar-system

on:
    workflow_dispatch: 
    push: 
        branches: 
            - main
            - 'feature/*'
env:
        MONGO_URI: ${{vars.MONGO_URI}}
        MONGO_USERNAME: ${{vars.MONGO_USERNAME}}
        MONGO_PASSWORD: ${{secrets.MONGO_PASSWORD}}
jobs:
    unit-testing:
        name: unit-testing
        runs-on: ubuntu-latest
        container: 
            image: 'node:20'
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            
            - name: Cache NPM dependencies
              uses: actions/cache@v4
              with:
                path: ~/.npm
                key: '${{ runner.os }}-node-modules-${{ hashFiles(''package-lock.json'') }}'
            
            - name: Install Dependencies
              run: npm install

            - name: Unit Testing
              run: npm test
              continue-on-error: true
              
            - name: Archive Test Result
              uses: actions/upload-artifact@v3
              with:
                name: Mocha-Test-Result
                path: test-results.xml 
    
    docker:
        runs-on: ubuntu-latest
        needs: unit-testing
        steps:
            - uses: actions/checkout@v4

            - name: Set lowercase repository owner
              run: echo "REPO_OWNER_LC=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV
            
            - uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: '${{github.repository_owner}}'
                password: '${{secrets.GITHUB_TOKEN}}'
            - uses: docker/build-push-action@v4
              with:
                context: .
                push: true
                tags: 'ghcr.io/${{ env.REPO_OWNER_LC }}/solar-system:${{ github.sha }}'
    
    deploy-dev:
        runs-on: ubuntu-latest
        needs: docker
        steps:
            - uses: actions/checkout@v4

            - uses: azure/setup-kubectl@v3
              with:
                version: v1.26.0

            - uses: azure/k8s-set-context@v3
              with:
                method: kubeconfig
                kubeconfig: '${{secrets.KUBECONFIG}}'

            - run: kubectl version --short -o yaml